.highlight .parser.LF {
    color: rgba(128, 128, 128, 0.4);
    user-select: none;
    -webkit-user-select: none;
}

.highlight .parser.Error {
    text-decoration: underline wavy red;
}

.highlight .parser.space::before{
    content: "·";
    color: rgba(199, 199, 199, 0.4);
    margin-right: -0.5em;
}

.highlight .parser.TL_comment,
.highlight .parser.Block_comment {
    color: rgb(49, 123, 87);
}
.highlight .parser.TL_note,
.highlight .parser.Block_note {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 248, 206);
    text-decoration: underline rgba(0, 242, 69, 0.4);
    -webkit-text-decoration: underline rgba(0, 242, 69, 0.4);
    border-radius: 3px;
    padding: 0.1em;
    font-size: 0.85em;
    font-family: serif;
}

.highlight .parser.TLdef_include,
.highlight .parser.TLdef_using,
.highlight .parser.TLdef_replace,
.highlight .parser.TLdef_global,
.highlight .parser.TLdef_func {
    color: rgb(255, 141, 232);
}
.highlight .parser.Block_exclam_local,
.highlight .parser.Block_stat_exclam_local,
.highlight .parser.Block_exclam_ctrl {
    color: rgb(234, 176, 255);
}
.highlight .parser.TLdef_global_deftype,
.highlight .parser.TLdef_func_rettype,
.highlight .parser.TLdef_func_args_argstype,
.highlight .parser.Block_exclam_local_deftype,
.highlight .parser.Block_stat_exclam_local_deftype {
    color: rgb(191, 243, 112)
}
.highlight .parser.Block_exclam_ctrl_type_while,
.highlight .parser.Block_exclam_ctrl_type_if {
    color: rgb(255, 0, 200);
}
.highlight .parser.Block_exclam_local_defname,
.highlight .parser.Block_stat_exclam_local_defname,
.highlight .parser.Block_stat_assignvar,
.highlight .parser.TLdef_func_args_defname,
.highlight .parser.TLdef_global_defname {
    color: rgb(111, 231, 255);
}
.highlight .parser.TLdef_replace_defname {
    color: rgb(92, 182, 255);
}
.highlight .parser.Block_stat_assign {
    color: rgb(255, 78, 78);
}
.highlight .parser.TLdef_func_defname {
    color: rgb(255, 251, 0);
}
.highlight .parser.TLdef_func_lparen,
.highlight .parser.TLdef_func_rparen,
.highlight .parser.Block_exclam_ctrl_lparen,
.highlight .parser.Block_exclam_ctrl_rparen {
    color: rgb(92, 168, 255);
}
.highlight .parser.TLdef_replace_defval,
.highlight .parser.Block_stat_expr_token,
.highlight .parser.Block_exclam_ctrl_cond_token {
    color: rgb(255, 249, 167);
}
.highlight .parser.TLdef_include_filename,
.highlight .parser.TLdef_using_filename {
    color: rgb(255, 170, 13);
}