.jsonviewer {
    padding: 10px;
    font-size: 80%;
    overflow: scroll;
    display: inline;
    position: relative;
    width: 100%;
}
.jsonviewer summary {
    color: rgb(139, 174, 255);
    width: fit-content;
}
.jsonviewer details {
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px;
    padding-left: 10px;
    display: inline-block;
    position: relative;
}
.jsonviewer details[open] {
    box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.511);
}
.jsonviewer details:hover {
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(48, 171, 212, 0.08);
}
.jsonviewer>details:hover {
    border: 1px solid rgba(255, 255, 255, 0);
}
.jsonviewer details>summary {
    font-size: 90%;
}
.jsonviewer details[open]>summary {
    color: rgb(85, 97, 123);
    font-size: 80%;
}
.jsonviewer details span {
    vertical-align: top;
    padding-left: 0.05em;
    padding-right: 0.05em;
    display: inline-block;
}
.jsonviewer details>p>span:nth-child(1) {
    min-width: 3em;
}
.jsonviewer details.object>summary>span:nth-child(2) {
    font-size: 70%;
}
.jsonviewer details.array>summary>span:nth-child(3) {
    font-size: 70%;
    vertical-align: bottom;
}
.jsonviewer details.object>summary>.summary_content,
.jsonviewer details.array>summary>.summary_content {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}
.jsonviewer details span.string span {
    color: rgb(221, 136, 0);
}
.jsonviewer details span.string span:nth-child(2) {
    color: rgb(255, 200, 0);
}
.jsonviewer details span.number {
    color: rgb(183, 255, 0);
}
.jsonviewer details span.boolean {
    color: rgb(255, 87, 230);
}
.jsonviewer details span.array_index {
    color: rgb(100, 234, 255);
}
.jsonviewer details span.string.object_key span {
    color: rgb(0, 144, 221);
}
.jsonviewer details span.string.object_key span:nth-child(2) {
    color: rgb(100, 255, 237);
}
.jsonviewer details>p>span:nth-child(2) {
    padding-right: 10px;
}
.jsonviewer p {
    margin: 1px;
    width: fit-content;
}
.jsonviewer details span.comma {
    vertical-align: bottom;
}